<!DOCTYPE html>
<html xmlns：th="http://www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot Demo</title>
    <link rel = "stylesheet" th:href="@{style.css}">
</head>
<body>
    <h2>Spring Boot Demo</h2>
    <form method = "POST">
        <label for="firstName">FirstName :</label>
            <input type="text" name="firstName"></input><br />
        <label for="lastName">LastName :</label>
            <input type="text" name="lastName"></input><br />
        <label for="phoneNumber">phone #:</label>
            <input type="text" name="phoneNumber"></input><br />
        <label for="emailAddress">emailAddress :</label>
        <input type="text" name="emailAddress"></input><br />
        <input type = "submit">提交</input>
    </form>

    <ul th:each="contact : ${contacts}">
        <li>
            <span th:text="${contact.firstName}">First</span>
            <span th:text="${contact.lastName}">Last</span>
            <span th:text="${contact.phoneNumber}">Phone</span>
            <span th:text="${contact.emailAddress}">email</span>
        </li>
    </ul>

</body>
</html>